extends layout

block nav-links
    li.nav-item
        a.nav-link(href='/')
            span Home
    li.nav-item
        a.nav-link(href='/about')
            span About
    li.nav-item
        a.nav-link(href='#')
            span CV
    li.nav-item
        a.nav-link(href='https://github.com/aurora-dot')
            span Projects
    li.nav-item
        a.nav-link(href='https://blog.pastel.codes')
            span Blog
    li.nav-item
        a.nav-link(href='/contact')
            span Contact

block content
    .center-v-h.ef.ff
        .error
            h1= message
            #error-code
                h2= error.status
