extends layout

block content
    article
        header
            // Navbar
            nav.navbar
                // Navbar brand
                a.navbar-brand(href='#')
                    span ESTR
                        span //
                // Collapse button
                button.navbar-toggler.ham-button(type='button' data-toggle='collapse' data-target='#navbarSupportedContent23' aria-controls='navbarSupportedContent23' aria-expanded='false' aria-label='Toggle navigation' style='cursor: pointer;')
                    .ham
                        span
                        span
                        span
                        span
                // Collapsible content
                #navbarSupportedContent23.collapse.navbar-collapse
                    // Links
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='#')
                                span Home
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='#')
                                span About
                        li.nav-item
                            a.nav-link(href='#')
                                span CV
                        li.nav-item
                            a.nav-link(href='https://git.pastel.codes')
                                span Projects
                        li.nav-item
                            a.nav-link(href='https://blog.pastel.codes')
                                span Blog
                        li.nav-item
                            a.nav-link(href='#')
                                span Contact

        main
            .container-fluid
                // left hand text
                .row
                    .col-sm-1
                    .vertical-center.col-sm-4
                        div
                            h1
                                | Hello,
                                br
                                | I'm
                                |
                                span Esther
                            p I'm a Programmer & Designer from the UK.
                            p I like to make stuff.
                    .col-sm-2
                    div(class="col-sm" style="background-color:#CC7A98; min-height: 100vh")
                    .col-sm-2


    footer
            p &copy; 2020 |
                |
                |
                a(href="#") ESTR//

