extends layout

block content
    article
        header
            // Navbar
            nav.navbar.mb-4
                // Navbar brand
                a.navbar-brand(href='#')
                    p ESTR
                        span //
                // Collapse button
                button.navbar-toggler.ham-button(type='button' data-toggle='collapse' data-target='#navbarSupportedContent23' aria-controls='navbarSupportedContent23' aria-expanded='false' aria-label='Toggle navigation')
                    .ham
                        span
                        span
                        span
                        span
                // Collapsible content
                #navbarSupportedContent23.collapse.navbar-collapse
                    // Links
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='#')
                                | Home
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='#') Features
                        li.nav-item
                            a.nav-link(href='#') Pricing
                    // Links
                // Collapsible content


        main
            // left hand text
            h1
                | Hello,
                br
                | I'm Esther
            p I'm a Programmer & Designer from the UK.
            p I like to make stuff

            // The pink right block images and stuff here

        footer
            p piss

