extends layout

block content
    article
        header
            // Navbar
            nav.navbar
                // Navbar brand
                a.navbar-brand(href='#')
                    span ESTR
                        span //
                // Collapse button
                button.navbar-toggler.ham-button(type='button' data-toggle='collapse' data-target='#navbarSupportedContent23' aria-controls='navbarSupportedContent23' aria-expanded='false' aria-label='Toggle navigation' style='cursor: pointer;')
                    .ham
                        span
                        span
                        span
                        span
                // Collapsible content
                #navbarSupportedContent23.collapse.navbar-collapse
                    // Links
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='#')
                                | Home
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='#') About
                        li.nav-item
                            a.nav-link(href='#') CV
                        li.nav-item
                            a.nav-link(href='#') Projects
                        li.nav-item
                            a.nav-link(href='#') Blog
                        li.nav-item
                            a.nav-link(href='#') Contact

        main
            // left hand text
            .home-content
                .left
                    .title-content-box
                        h1
                            | Hello,
                            br
                            | I'm
                            |
                            span Esther
                        p I'm a Programmer & Designer from the UK.
                        p I like to make stuff.
                .right
                    .pink-box
                        //icons

        footer
            p &copy; 2020 |
                a(href="#") ESTR//

