doctype html
html
    head
        meta(http-equiv="content-type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title ESTR. // #{title}
        meta(name="description" content=description)

        link(rel='icon' type='image/png' sizes='32x32' href='/images/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='96x96' href='/images/favicon-96x96.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/images/favicon-16x16.png')

        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block head
    body
        article
            header
                // Navbar
                nav.navbar
                    // Navbar brand
                    a.navbar-brand(href='/')
                        span ESTR.
                    // Collapse button
                    button.navbar-toggler.ham-button(type='button' data-toggle='collapse' data-target='#navbarSupportedContent23' aria-controls='navbarSupportedContent23' aria-expanded='false' aria-label='Toggle navigation' style='cursor: pointer;')
                        .ham
                            span
                            span
                            span
                            span
                    // Collapsible content
                    #navbarSupportedContent23.collapse.navbar-collapse
                        // Links
                        ul.navbar-nav.mr-auto
                            block nav-links

            main
                block content

            footer
                p &copy; 2020 |
                    |
                    |
                    a(href="/") ESTR.

        script(src="/javascript/jquery-3.5.1.min.js")
        script(src="/javascript/bootstrap.js")
        script(src="/javascript/nav.js")
        block scripts
