@font-face {
  font-family: 'Titling Gothic FB';
  src: url("../fonts/TITLINGGOTHICFB-WIDE.OTF") format("opentype"); }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype"); }

@font-face {
  font-family: 'Apercu Mono';
  src: url("../fonts/ApercuMono.ttf") format("truetype"); }

html, body {
  width: 100%;
  height: 100%; }

body {
  background-color: #002234;
  color: #CC7A98; }

h1 {
  font-family: "Gilroy", sans-serif; }

h2 {
  font-weight: bold;
  font-family: "Apercu Mono", monospace; }

p, label, input, textarea {
  font-family: "Apercu Mono", monospace; }

label {
  font-size: 3vh; }

a:hover {
  color: #CDE7B0; }

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%; }

header nav a span {
  font-size: 2rem;
  font-family: 'Titling Gothic FB', sans-serif;
  color: #CC7A98; }

header nav #navbarSupportedContent23 ul {
  background-color: #CC7A98; }
  header nav #navbarSupportedContent23 ul li {
    transition: 0.5s;
    background-color: #CC7A98;
    text-align: center; }
    header nav #navbarSupportedContent23 ul li a span {
      transition: 0.2s;
      color: #002234;
      font-family: "Apercu Mono", monospace; }
  header nav #navbarSupportedContent23 ul li:hover {
    background-color: #002234; }
    header nav #navbarSupportedContent23 ul li:hover a span {
      color: #CC7A98; }
  header nav #navbarSupportedContent23 ul .active {
    background-color: #002234; }
    header nav #navbarSupportedContent23 ul .active a span {
      color: #CDE7B0; }
  header nav #navbarSupportedContent23 ul .active:hover {
    background-color: #CC7A98; }
    header nav #navbarSupportedContent23 ul .active:hover a span {
      color: #002234; }

main {
  padding: 0.5rem; }
  main h1 {
    padding-bottom: 1rem;
    font-size: 4.5rem; }
    main h1 span {
      text-decoration: underline #CC7A98;
      text-decoration-style: wavy; }
  main p {
    font-size: 2rem;
    margin-bottom: 5px; }

footer {
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem; }
  footer a {
    color: #CC7A98;
    text-decoration: underline #CC7A98; }

.ef {
  max-height: 85vh;
  min-height: 85vh !important; }

.error {
  text-align: center; }

.pink-block {
  background-color: #CC7A98;
  min-height: 100vh; }

.center-v {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center; }

.center-v-h {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

.logos-container {
  width: 3.5rem; }

.logo {
  width: auto;
  height: 3.5rem;
  fill: #002234;
  margin-bottom: 2.5rem; }

.logo-container {
  cursor: pointer; }

.about-pos p {
  font-size: 3vh;
  margin-bottom: 3vh; }

.pr {
  margin-bottom: 3vh;
  margin-top: 1vh; }
  .pr img {
    width: 100%;
    border: 2vh solid #CC7A98; }

.pr-text a {
  color: #CC7A98; }
  .pr-text a h1 {
    font-size: 4vh;
    margin-bottom: 0;
    padding-bottom: 0; }

.pr-text a:hover {
  color: #CDE7B0; }

.pr-text p {
  font-size: 3vh; }

.start {
  margin-top: 3vh; }

#contact-message {
  margin-top: 2vh; }
  #contact-message p {
    color: #CDE7B0; }
    #contact-message p span {
      text-decoration: underline #CDE7B0; }

.h-captcha {
  margin-bottom: 0.5vh; }

.button-c {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid #002234;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: "Apercu Mono"; }

.button-c {
  background-color: #CC7A98; }

.button-c:hover {
  background-color: #002234;
  color: #CC7A98;
  border-color: #CC7A98; }

.ham {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.ham span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  background: #CC7A98; }

.ham span:nth-child(1) {
  top: 0; }

.ham span:nth-child(2), .ham span:nth-child(3) {
  top: 10px; }

.ham span:nth-child(4) {
  top: 20px; }

.ham.open span:nth-child(1) {
  top: 11px;
  width: 0;
  left: 50%; }

.ham.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.ham.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.ham.open span:nth-child(4) {
  top: 11px;
  width: 0;
  left: 50%; }

@media only screen and (max-height: 421px) {
  .pr-text {
    margin-bottom: 5vh !important; } }

@media only screen and (max-width: 575px) {
  .logo {
    height: 5rem; }
  .logos-container {
    width: 5rem; }
  .aaa {
    min-height: 40vh !important; }
  .aaaa {
    margin-top: 5vh !important; }
  .ef {
    max-height: none !important;
    min-height: 0 !important; }
  .ff {
    min-height: 82.8vh !important; } }

@media only screen and (max-height: 815px) {
  .ef {
    max-height: none !important;
    min-height: 0 !important; } }

/*# sourceMappingURL=style.css.map */